NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-key

NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_ao7tsy6
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_ww1zdbv
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=your-emailjs-public-key
